{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "production": {
      "presets": [
        "es2015",
        "react",
        "react-optimize",
        "es2015-native-modules",
        "stage-0"
      ]
    }
  }
}
